.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 10px;
}

.textCenter{
  text-align: center;
  list-style-position: inside;
  color: rgb(198, 198, 198);
}
p{
  text-align: center;
  font-size: 120%;
}
.topPadding{
  padding-top: 60px;
}
.paddingAndCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 70px;
  padding-top: 60px;

}


  /*background-color:*/

.background{
  background-color: #1a1a1d;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(14, 12, 13);
    overflow: hidden;
}
.rotate{
  transform: rotate(90deg);
  width: 20%;
    height: 20%;
    text-align: center;
  vertical-align: middle;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:#4e4e50;
    color: white;
}
@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('http://fonts.googleapis.com/css?family=Tangerine');
h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}
.textTangerine{
        font-family: 'Tangerine', serif;
        font-size: 30px;
        color: rgb(198, 198, 198);
        text-align: center;
      }
.inSameLine{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
}

#images{
  text-align:center;
}

.hero {
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;

	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100%;
	min-height: 200%;
	height: auto;
	width: auto;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {

	100% {
		transform: translateY(0);
	}

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-snapchat {
    background: rgb(201, 226, 0);
    color: white;
}
.about-images{

  height: 10%;
  width: 10%;
}
.about-img-taller{
width: 20%;
  height: 20%;}
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  height: 80%;
  width: 20%;

  }
